.createProductButtonIcon1 {
  width: 14px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.createProductButtonIcon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.createProduct {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--component-body-regular);
  color: var(--color-white);
  text-align: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-sm) var(--padding-3xs)
    var(--padding-base);
  background-color: var(--color-royalblue);
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.select {
  width: 160px;
  height: 40px;
  font-family: var(--component-body-regular);
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.actions {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.select1 {
  height: 40px;
  width: 146px;
  font-family: var(--component-body-regular);
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.actionsAndFilters,
.contentWrapper {
  display: flex;
  justify-content: flex-start;
}
.actionsAndFilters {
  margin: 0;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.contentWrapper {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.input {
  border: 0;
  background-color: transparent;
  width: 320px;
  font-family: var(--component-body-regular);
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
}
.contentWrapperParent,
.pageContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.contentWrapperParent {
  width: 1248px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.pageContent {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.featuredProduct {
  position: relative;
  font-weight: 600;
}
.contentColumn,
.div1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.div1 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  padding: var(--padding-xl) var(--padding-mid);
  flex-shrink: 0;
}
.contentColumn {
  height: 314px;
  padding: 0 0 var(--padding-169xl);
  font-size: var(--font-size-lg);
}
.featuredProductInStockIcon {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 22.5px;
  height: 20px;
  overflow: hidden;
}
.div2 {
  height: 44px;
  width: 46.5px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-lavender);
}
.premiumWirelessHeadphones {
  position: relative;
  line-height: 16px;
  font-weight: 600;
}
.electronics29999 {
  position: relative;
  line-height: 16px;
  color: var(--color-dimgray);
}
.productNameAndCategory {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.productImage {
  flex-direction: row;
  gap: var(--gap-base);
}
.productImage,
.span,
.stockStatusWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.span {
  border-radius: var(--br-9980xl);
  background-color: var(--color-honeydew);
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-2xs) var(--padding-7xs)
    var(--padding-xs);
}
.stockStatusWrapper {
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
  font-size: var(--component-body-regular-size);
  color: var(--color-seagreen);
}
.productDetailsContent,
.productImageWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.productImageWrapper {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.productDetailsContent {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.id,
.productName {
  position: relative;
  font-weight: 600;
}
.productName {
  display: inline-block;
  min-width: 98px;
}
.headerName {
  width: 201px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.category {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 65px;
}
.headerCategory {
  width: 101px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.headerPriceSort {
  width: 8.8px;
  height: 14px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.headerActions,
.headerPlaceholder,
.headerPrice,
.thead {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.headerPlaceholder {
  flex-direction: column;
  padding: var(--padding-11xs-8) 0 0;
}
.headerActions,
.headerPrice,
.thead {
  flex-direction: row;
}
.headerPrice {
  padding: 0 var(--padding-2xl) 0 0;
  gap: var(--gap-9xs-8);
}
.headerActions,
.thead {
  gap: var(--gap-97xl-7);
  max-width: 100%;
}
.thead {
  align-self: stretch;
  background-color: var(--color-whitesmoke);
  border-bottom: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  justify-content: space-between;
  padding: var(--padding-mid) var(--padding-83xl) var(--padding-mid)
    var(--padding-5xl);
  gap: var(--gap-xl);
}
.productIdValues {
  position: relative;
  display: inline-block;
  min-width: 41px;
}
.itemDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.wirelessHeadphones {
  position: relative;
}
.itemName {
  width: 227px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
  color: var(--color-gray-200);
}
.electronics {
  position: relative;
  display: inline-block;
  min-width: 75px;
}
.itemCategoryValues,
.itemStock,
.span1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-xl) 0 0;
}
.itemStock,
.span1 {
  padding: var(--padding-9xs) var(--padding-6xs) 0 0;
  color: var(--color-gray-200);
}
.span1 {
  border-radius: var(--br-9980xl);
  background-color: var(--color-honeydew);
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-9xs)
    var(--padding-5xs);
  color: var(--color-seagreen);
}
.productActionButtons {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.itemCategory,
.itemPrice,
.tr {
  display: flex;
  align-items: flex-start;
}
.itemPrice {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.itemCategory,
.tr {
  flex-direction: row;
  max-width: 100%;
}
.itemCategory {
  width: 576.2px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.tr {
  align-self: stretch;
  background-color: var(--color-gray-300);
  justify-content: flex-start;
  padding: var(--padding-sm-5) var(--padding-5xl) var(--padding-mini-5);
  box-sizing: border-box;
  gap: var(--gap-100xl-9);
}
.div3,
.smartWatch {
  position: relative;
  display: inline-block;
  min-width: 43px;
}
.smartWatch {
  min-width: 87px;
}
.smartWatchWrapper {
  width: 229px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
  color: var(--color-gray-200);
}
.electronicsWrapper {
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-mid) 0 0;
}
.container,
.electronicsWrapper,
.span2,
.tr1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container {
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-7xs) 0 0;
  color: var(--color-gray-200);
}
.span2,
.tr1 {
  flex-direction: row;
}
.span2 {
  border-radius: var(--br-9980xl);
  background-color: var(--color-lemonchiffon);
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-9xs)
    var(--padding-5xs);
  color: var(--color-saddlebrown);
}
.tr1 {
  align-self: stretch;
  background-color: var(--color-gray-300);
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  padding: var(--padding-xs) var(--padding-5xl) var(--padding-mini-5);
  gap: var(--gap-98xl-9);
  max-width: 100%;
}
.bluetoothSpeaker {
  position: relative;
  display: inline-block;
  min-width: 124px;
}
.electronicsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-xs) 0 0;
}
.div7 {
  position: relative;
  display: inline-block;
  min-width: 49px;
}
.span3 {
  border-radius: var(--br-9980xl);
  background-color: var(--color-mistyrose);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-6xs) var(--padding-9xs)
    var(--padding-5xs);
  color: var(--color-brown);
}
.button1:hover,
.tr2 {
  box-sizing: border-box;
}
.tr2 {
  align-self: stretch;
  background-color: var(--color-gray-300);
  border-top: 1px solid var(--color-gainsboro);
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xl) var(--padding-sm);
  gap: var(--gap-98xl-9);
}
.tableBody,
.tbody,
.tr2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.tbody {
  flex: 1;
  background-color: var(--color-gray-300);
  flex-direction: column;
}
.tableBody {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-6xl);
  box-sizing: border-box;
}
.showing1To {
  position: relative;
  line-height: 14px;
}
.paginationInfo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl) 0 var(--padding-5xl);
}
.productTable {
  align-self: stretch;
  flex-direction: column;
  font-size: var(--component-body-regular-size);
  color: var(--color-dimgray);
}
.productDetails,
.productDetailsContainer,
.productTable {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.productDetailsContainer {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-25xl);
  flex-shrink: 0;
}
.productDetails {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  margin-top: -251px;
}
.previous {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--component-body-regular);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  min-width: 67px;
}
.button1 {
  cursor: pointer;
  border: 1px solid var(--color-gainsboro);
  padding: var(--padding-8xs) var(--padding-4xs) var(--padding-8xs)
    var(--padding-smi);
  background-color: var(--color-gray-300);
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button1:hover {
  background-color: var(--color-darkslategray-200);
  border: 1px solid var(--color-lightgray-100);
}
.div11 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--component-body-regular);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 9px;
}
.button2,
.button3 {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-4xs) var(--padding-6xs)
    var(--padding-xs);
  background-color: var(--color-royalblue);
}
.button2:hover {
  background-color: var(--color-dodgerblue);
}
.button3 {
  background-color: var(--color-gray-300);
  border: 1px solid var(--color-gainsboro);
  padding: var(--padding-8xs) var(--padding-3xs) var(--padding-8xs)
    var(--padding-smi);
}
.div13 {
  position: relative;
  display: inline-block;
  min-width: 12px;
}
.button4 {
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-300);
  border: 1px solid var(--color-gainsboro);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-4xs) var(--padding-8xs)
    var(--padding-smi);
}
.next {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--component-body-regular);
  color: var(--color-black);
  text-align: center;
}
.contentAndSidebar,
.div,
.div10,
.div9 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.div10 {
  flex: 1;
  background-color: var(--color-gray-300);
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  overflow-x: auto;
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--padding-mini) var(--padding-5xl) var(--padding-base);
  gap: var(--gap-5xs);
}
.contentAndSidebar,
.div,
.div9 {
  justify-content: flex-start;
}
.div9 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-191xl) 0 0;
  flex-shrink: 0;
  margin-top: -251px;
  text-align: center;
}
.contentAndSidebar,
.div {
  flex-direction: column;
}
.contentAndSidebar {
  width: 1248px;
}
.div {
  align-self: stretch;
  background-color: var(--color-whitesmoke);
  padding: 0 0 var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--component-body-regular);
}
@media screen and (max-width: 1200px) {
  .thead {
    padding-right: var(--padding-32xl);
    box-sizing: border-box;
  }
  .tr,
  .tr1,
  .tr2 {
    gap: var(--gap-41xl);
    flex-wrap: wrap;
  }
  .tr1,
  .tr2 {
    gap: var(--gap-40xl);
  }
}
@media screen and (max-width: 1050px) {
  .button {
    text-align: center;
    align-self: stretch;
    width: auto;
    min-width: 168;
  }
  .actions {
    flex: 1;
  }
  .id {
    width: 100%;
    height: 15px;
  }
  .thead {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .contentWrapperParent,
  .productImageWrapper {
    flex-wrap: wrap;
  }
  .headerActions {
    gap: var(--gap-39xl);
    flex-wrap: wrap;
  }
  .thead {
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
  .tr {
    gap: var(--gap-11xl);
  }
  .tr1,
  .tr2 {
    gap: var(--gap-10xl);
  }
  .productDetailsContainer {
    gap: var(--gap-3xl);
  }
}
@media screen and (max-width: 450px) {
  .headerActions {
    gap: var(--gap-10xl);
  }
  .itemCategory {
    flex-wrap: wrap;
  }
}
