.logoPlaceholderIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.stockmasterPro {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 32px;
  line-height: 20px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  width: 164px;
  height: 24px;
}
.logoPlaceholderParent {
  width: 195px;
  height: 24px;
  position: relative;
}
.headerInner {
  height: 28px;
  width: 195px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.imgIcon {
  height: 32px;
  width: 32px;
  position: relative;
  border-radius: var(--br-9980xl);
  object-fit: cover;
}
.johnSmith {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 16px;
  color: inherit;
  display: inline-block;
  width: 86px;
  height: 20px;
}
.actionPlaceholderIcon {
  position: absolute;
  top: 2px;
  left: 93px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.userNameDetails {
  width: 109px;
  height: 20px;
  position: relative;
}
.header,
.imgParent,
.userNameDetailsWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.userNameDetailsWrapper {
  height: 26px;
  width: 109px;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.header,
.imgParent {
  height: 32px;
  width: 149px;
  flex-direction: row;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-100);
}
.header {
  width: 1440px;
  height: 65px;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  padding: var(--padding-base) var(--padding-77xl) var(--padding-mid);
  gap: var(--gap-885xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  font-family: var(--component-body-regular);
}
