.products {
  color: var(--color-dimgray);
}
.createProduct {
  color: var(--color-black);
}
.productsCreateContainer {
  font-size: var(--component-body-regular-size);
  font-family: var(--component-body-regular);
  text-align: left;
}
.separator {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 612px;
  padding: 18px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.div1 {
  font-family: var(--component-body-regular);
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
  width: 245px;
}

.div {
  border: 0;
  background-color: transparent;
  font-family: var(--component-body-regular);
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
}

.minimumStock {
  font-size: var(--component-body-regular-size);
  font-weight: 600;
  color: var(--color-dimgray);
  text-align: left;
  margin-bottom: 8px;
}
 
.stockItem {
  font-size: var(--component-body-regular-size);
  font-weight: 600;
  color: var(--color-dimgray);
  text-align: left;
  margin-bottom: 8px;
}
.buttonIcon {
  border-radius: var(--br-7xs);
  width: 42px;
  height: 42px;
}

.buttonIcon1 {
  border-radius: var(--br-7xs);
  width: 42px;
  height: 42px;
}
.div2 {
  border: 0;
  background-color: transparent;
  font-family: var(--component-body-regular);
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
}
.stockKeepingUnit {
  font-size: var(--component-body-regular-size);
  font-weight: 600;
  color: var(--color-dimgray);
  text-align: left;
  display: inline-block;
  min-width: 129px;
  font-family: var(--component-body-regular);
  margin-bottom: 8px;
}
.home {
  position: absolute;
  font-family: var(--component-body-regular);
}
.manageStock {
  font-family: var(--component-body-regular);
  font-size: var(--font-size-lg);
  font-weight: 600;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 125px;
}
.home {
  margin: 0;
  top: 9px;
  left: calc(50% - 90px);
  font-size: var(--font-size-45xl);
  font-weight: 500;
  color: var(--color-white);
  text-align: center;
}
.button {
  position: absolute;
  cursor: pointer;
}
.button {
  top: 759px;
  left: 226px;
  border-radius: var(--br-7xs);
  background-color: var(--color-royalblue);
  width: 240px;
  height: 95px;
}

.stockupdate {
  /* margin: auto;
  width: 1440px;
  height: 1057px; */
  /* background-color: var(--color-whitesmoke); */
  max-width: 100%;
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 767px) {
  .home {
    font-size: var(--font-size-32xl);
  }
}
@media screen and (max-width: 450px) {
  .home {
    font-size: var(--font-size-19xl);
  }
}
